<!-- ajout de la partie head de la structure -->
<% include head.ejs %>
<body>
    <!-- ajout de la partie menu et de la barre de recherche de la structure -->
    <% include header.ejs %>
    <!-- Création du tableau des hotels -->

    <div class="container mt-5">
        <div class="card-deck text-center mt-5">
            <div class="card bg-info m-4">
                <div class="card-body">
                    <h5 class="card-title text-white">Nombre d'hotels</h5>
                    <i class="fas fa-hotel"></i>
                    <h1 class="card-text"><%= hotels %></h1>
                </div>
            </div>
            <div class="card bg-danger m-4">
                <div class="card-body">
                    <h5 class="card-title text-white">Nombre de clients</h5>
                    <i class="fas fa-user-tie"></i>
                    <h1 class="card-text"><%= clients %></h1>
                </div>
            </div>
            <div class="card bg-success m-4">
                <div class="card-body">
                    <h5 class="card-title text-white">Nombre de reservations</h5>
                    <i class="fas fa-concierge-bell"></i>
                    <h1 class="card-text"><%= reservations %></h1>
                </div>
            </div>
        </div>
    </div>
  
  
<!-- ajout de la partie footer de la structure -->
    <% include footer.ejs %>
</body>