<% include ./partials/head.ejs %>
    <body>
    <% include ./partials/header.ejs %>
    <div class="container">
        <div class="row">
            <% data.forEach(function(datas){ %>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card" style="width: 18rem;">
                    <img src="<%= datas.img %>" class="img-fluid">
                    <div class="card-body text-center">
                        <h5><%= datas.Nom %></h5>
                        <div class="row justify-content-center">
                            <span id="star_<%= datas.id %>" data-etoile="<%= datas.Nb_etoiles %>" class="star"></span>
                        </div>
                        <div class="text-right">
                            <p>150 € / nuit</p>
                        </div>
                        <a href="#" class="btn btn-primary">Réserver</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <% include ./partials/footer.ejs %>
</body>



