.sidenav {
    height: 100%;
    /* width: 260px; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
}

.card-body i{
    font-size: 3rem;
    color: #FFF;
}
.card-body{
    font-weight: 800;
}
.sidenav a {
    padding: 26px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #d3cdcd;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

h1{
    color:white;
    /* font-family: 'Julius Sans One', sans-serif; */
}

.navbar{
    
    background-color: #343a40;
    height: 65px;

}

.table{


    margin-left: 370px;

}
