.container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}

header{
    background:linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
    ), url('../static/img/chambre.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    color:#fff;  
} 
/*========================================
        IMAGE SLIDE/CAROUSSEL
=========================================*/        

.icon {
    font-size: 30px;
}

header {
    background-color:#a48c68;
}
headings {
    color: #a48c68 ;
}

fichehotel {
    background-color : #45474a;
    color:white;
}

fichehotel boutons {
    background-color : #a48c68;
    color:white;

}

fichehotel etoiles {
    color: #a48c68 ;
}

footer {
    background-color:#1b1b1b ;
    color:white;
}






